/*|| Global Settings */

html,body {margin: 0; padding: 0; font-family: arial,sans-serif;}

/*|| Wrapper for the page */
.wrapper {
	display:flex;
	flex-direction: column;
	min-height: 100vh;
}

/*|| Styling for header and footer containers */
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
}

.page-footer {
	background-color: #f2f2f2;
}

/*|| Styling for all menu links */
.top-links, .footer-links {
	display: flex;
	align-content: center;
}

.top-links a, .footer-links a {
	padding: 10px;
	text-decoration: none;
}

.top-links a {
	font-size: 13px;
	color: rgba(0,0,0,0.87);
}

.footer-links a {
	color: #70757a;
    	font-size: 14px;
}

/*|| Styling for dots image in header */
#nine-dots {
	width: 20px;
	height: 20px;
	padding-right: 10px;
	padding-left: 10px;
	margin: auto;
}

/*|| Styling for the sign in button in header */
#sign-in-button {
    background-color: #1a73e8;
    color: #fff;
    margin: 0px;
    font-size: 14px;
    padding-right: 13px;
    padding-left: 13px;
	margin-right: 10px;
	margin-left: 10px;
	width: 100px;
}

/*|| Styling for the main content section. Holds the logo, search bar and buttons. */
.main-content {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*|| Content wrapper centered in .main-content */
#content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 170px;
}

#google-logo {
	width: 280px;
}

/*|| Styling for the search bar */
#search-bar {
	display: flex;
	align-items: center;
	margin: 20px;
	border: 1px solid #e1e2e6;
	border-radius: 40px;
	width: 550px;
	padding: 5px;
}

#mag-glass {
    width: 15px;
	margin-right: 10px;
	margin-left: 10px;
}

#search-input {
    	width: 470px;
    	border: none;
    	height: 30px;
	outline: none;		
}

#microphone {
	width: 15px;
	margin-left: 20px;
}

/*|| Styling for the buttons */
#button-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

button {
	margin: 10px;
	padding: 8px 12px 8px 12px;
	background-color: #f8f9fa;
	border: 1px solid #f8f9fa;
    	border-radius: 4px;
	color: #3c4043;
	font-size: 14px;
}

button:hover {
	border: 1px solid #c4c3c9;
}